

/* Conteneur du formulaire */
form {
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    margin: 50px auto;
    
}

/* Label du champ de saisie */
label {
    display: block;
    font-size: 18px;
    margin-bottom: 8px;
    color: #333;
}

/* Champ de saisie du fichier */
input[type="file"] {
    display: block;
    width: 100%;
    margin: -5px;
    padding: 5px;
    font-size: 16px;
    border: 2px solid #ddd;
    border-radius: 5px;
    margin-bottom: 20px;
    background-color: #f9f9f9;
    cursor: pointer;
    transition: all 0.3s ease;
}

/* Effet au survol pour le champ de fichier */
input[type="file"]:hover {
    border-color: #007bff;
    background-color: #f0f8ff;
}

/* Bouton d'envoi */
button[type="submit"] {
    background-color: #007bff;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    width: 100%;
    transition: background-color 0.3s ease;
}

/* Effet au survol pour le bouton */
button[type="submit"]:hover {
    background-color: #0056b3;
}

/* Espacement entre les éléments du formulaire */
br {
    margin-bottom: 15px;
}